:root { 
    --background_color: #000000;
    --login_color: rgb(77, 102, 57);
}

@font-face {
    font-family: 'Nordid-font';
    src: url('./form_assets/Norse-Bold.otf') format('woff');
    /* Add additional formats if needed */
    font-weight: normal;
    font-style: normal;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background_color);
}

.background { 
    display: flex;
    flex-direction: row;
}

#left-box { 
    width: 500px;
    height: 766.63px;
    overflow: hidden;
    background-image: url("./form_assets/photo-1585202900225-6d3ac20a6962.png");
    /* background-size: 450px; */
}

#background-img{ 
    position: absolute;
    height: 632px;
    width: 450px;
}

#odin-logo { 
    /* position: absolute; */
    /* height: 632px; */
    width: 100px;
    display: inline-block;
}

#title { 
    display: inline-block;
    color: white;
    font-family: 'Nordid-font';
    font-size: 100px;
    margin: 30px 0px;
}

#title-bar { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
}

#right-box { 
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

#form-container { 
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#form-content-container { 
    /* margin: 30px; */
}

.paragraph-text { 
    margin: 30px;
    margin-left: 20px;
}

.input-font { 
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.input-item { 
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.form-row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}

.input-feild { 
    border-radius: 5px;
    height: 25px;
    outline: none;
    border-color: #d6d6d6;
    border-style: solid;
}

.input-feild:focus { 
    border-style: solid;
    border-color: rgb(15, 109, 218);
    outline: none;
}

.input-feild:invalid { 
    outline: none;
    border-style:  solid;
    border-color: red;
}

#submit-button { 
    background-color: var(--login_color);
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 800;
    font-size: 17px;
    border-radius: 10px;
    margin: 30px;
}

.log-in { 
color: var(--login_color);
}